@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Light.otf") format("opentype");
  font-weight: 300; /* Light */
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: 400; /* Regular */
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Medium.otf") format("opentype");
  font-weight: 500; /* Medium */
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 700; /* Bold */
}

.font-satoshi-regular {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
}

.font-satoshi-light {
  font-family: "Satoshi", sans-serif;
  font-weight: 300;
}

.font-satoshi-medium {
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1440px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 640px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

html {
  -webkit-text-size-adjust: none;
}

html,
body {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
}
